body {
  height: 100%;
}
/* Pop-up, amount confirmation */
.ui-widget-content {
  background-color: #333 !important;
}
.ui-dialog-content {
  color: #fff !important;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-buttonset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  float: none !important;
}
.ui-dialog-buttonset button {
  font-size: 1.5em !important;
  margin-right: 0 !important;
  padding-right: 0.9em !important;
  padding-left: 0.9em !important;
}
/* Pop-up, Gapi confirmation */
.gapi-verification {
  top: 12vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: #333;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.gapi-verification * {
  width: 70%;
  margin: 30px auto;
}

@font-face {
  font-family: "Chewy", cursive;
}
header {
  /*Licensed 9/28/2017*/
  background-image: url("https://cdn.jsdelivr.net/gh/N8Sayer/cabease-update@latest/images/taxi-background.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 12vh;
}
main {
  margin-top: 12vh;
  font-family: "Open Sans", sans-serif;
  background-color: #333;
  color: #f2f2f2;
  height: 100%;
}
.title {
  font-family: "Chewy", cursive;
  position: fixed;
  font-size: 5vh;
  vertical-align: top;
  padding-left: 5px;
  margin: 0;
  top: 0;
  left: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.position-fixed {
  z-index: 900;
}
#notification {
  background-color: #ccc;
  color: black;
  z-index: 0;
}
#notificationText {
  padding-left: 3%;
  font-size: 2.8vw;
}
#table {
  font-size: 25px;
  text-align: left;
  border-collapse: collapse;
}
#table,
td {
  border: 2px solid #ccc;
}
#table th:nth-child(3) {
  width: 100px;
}
#table tr {
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
}
#table tr:nth-child(even) {
  background-color: black;
  color: white;
}
#table tr:hover {
  background-color: grey;
  color: black;
  font-weight: bold;
}
#table td,
#table th {
  padding: 5px 20px 5px 20px;
  margin: 0;
}
#table input {
  background-color: none;
  width: 100%;
  vertical-align: middle;
}
#table input,
#table select {
  font-size: 25px;
}
#table tr button {
  height: 20px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  padding: 0;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-fluid {
  min-height: 88vh;
  height: 100%;
}
